#!/bin/bash
#
# Networks Prefix
#
EX_PREFIX=180.210.14
EX_GW_ADDR=180.210.14.1
MGMT_PREFIX=172.29.236
STORAGE_PREFIX=172.29.240
VXLAN_PREFIX=172.29.244
REPLICA_PREFIX=172.29.248
VLAN_PREFIX=172.29.252

#
# Networks Prefix Length
#
EX_PREFIX_LEN=24
MGMT_PREFIX_LEN=22
STORAGE_PREFIX_LEN=22
VXLAN_PREFIX_LEN=22
REPLICA_PREFIX_LEN=22
VLAN_PREFIX_LEN=22

#
# Networks Start Address
#
EX_NUM=201
MGMT_NUM=11
STORAGE_NUM=11
VXLAN_NUM=11
REPLICA_NUM=11
VLAN_NUM=11
